langchain==0.2.6
langchain-community==0.2.6
langchain-text-splitters==0.2.2
langchain-huggingface==0.0.3
weaviate-client==3.26.2
faiss-cpu==1.8.0.post1
sentence-transformers==3.0.1
datasets==2.21.0
huggingface-hub==0.24.5
python-dotenv==1.0.1
pandas==2.2.2
tqdm==4.66.5
streamlit==1.39.0
protobuf==5.29.5
numpy==1.26.4
tenacity==8.5.0
fastapi==0.115.5
uvicorn[standard]==0.32.1
indic-transliteration==2.3.75
